* {
    box-sizing: border-box;
}

body {
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox {
    background: yellow;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 500px;
    margin: 20px;

}

.flexbox>div {
    width: 30px;
    height: 30px;
    border: 1px solid;
    transition: all 1s ease-out 0.5s;
}

.hover-effect.hovered {
    transition: all 0s ease-in 0s;
}