* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
/* background: linear-gradient(160deg, #057ec4 0%, #39c7b6 100%); */
background: linear-gradient(to right, #e96443ef, #904e95c7);
background-repeat:no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: auto;
    padding: 150px;
}
body h1{
    font-size: 3em;
    margin-top: 0;
    color: transparent;
    background: linear-gradient(90deg,rgb(241, 232, 223),rgba(137, 228, 18, 0.998));
    background-clip: text;
    filter: drop-shadow(15px 5px 6px rgb(2, 12, 2));
}

.flexbox {
    background: rgb(228, 255, 52);
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    filter: drop-shadow(5px 5px 15px rgb(95, 91, 91));
    user-select: none;
    
}

.flexbox>div {
    width: 40px;
    height: 40px;
    transition: all 1s ease-in 0.5s;
    text-align: center;
    align-content: center;
    box-shadow:1px 1px 1px 0px #ae5c04;
    
}

.hover-effect.hovered {
    transition: all 0s ease-out 0s;
}